body {
    margin: 0;
    padding: 0;
    height: 100vh;
  }
  #login .container #login-row #login-column #login-box {
    margin-top: 120px;
    max-width: 400px;
    height: 320px;
    border: 1px solid #fafafa;
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.63);
    display: flex;
    justify-content: center;
    align-items: center;
    margin:120px auto;
  }
  #login .container #login-row #login-column #login-box #login-form {
    padding: 20px;
  }
  #login .container #login-row #login-column #login-box #login-form #register-link {
    margin-top: -85px;
  }

  .btn-xl{
    width: 100%;
    background-color: #555555;
    border:1px solid #555555;
    box-sizing: border-box;
  }

  .btn-xl:hover{
    background-color: transparent;
    color:#555555;
    border:1px solid #555555;
  }

  .text-info{
    color:#555555 !important;
    font-family: Arial, Helvetica, sans-serif;
  }

  .form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #555555;
    outline: 0;
    box-shadow: none;
}